body{
    font-family: 'Chivo', sans-serif;
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    margin: 0;

}
main{
    background-color: #121725;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    text-align: center;
    color: rgba(84, 230, 175, 1);
}
span{
    font-size: 26px;
    color: 
    rgba(255, 255, 255, 1);
}
.title_p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: 
    rgba(194, 203, 229, 1);
    width: 327px;
}
.icons{
    width: 55.59px;
    height: 16.95px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 30px;
}
.first, .second{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    width: 327px;
    height: 46px;
    border-radius: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(44, 52, 75, 1);
    text-align: left;
}
.first{
    margin-bottom: 20px;
    border: none;
}
.second{
    background-color: 
    rgba(84, 230, 175, 1);
    color: #121725;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}
.logo{
    padding-top: 72px;
    
}
.logos{
    display: flex;
    justify-content: space-around;
    margin-top: 37px;
    gap: 25px;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}
.tag{
    display: none;
    color: red;
    position: relative;
    bottom: 84px;
    right: 39px;
}
@media (min-width:768px){
    header{
        width:100%;
    }
    .logo{
        margin-left: 30px;
        padding: 22px;
    }
    
    body{
        background-image: url(./assets/tablet/image-host.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 437px;
        background-color: #121725;
    }

    main{
        align-items: flex-start;
        width: 378px;
        opacity: 1;
    }
    .text{
        background-color:#121725;
        width: 635px;
        height: 509px;
        padding-left: 26px;
        align-items: flex-start;
        padding-top: 60px;
        
    }
    .title{
        font-size: 48px;
        line-height: 56px;
        text-align: left;
    }
    .title_p{
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        width: 445px;
        font-weight: 400;
        opacity: 0.9;
    }
    .buttons{
        position: absolute;
        top: 503px;
        left: 28px;
    }
    .first{
        width: 427px;
        padding-inline: 15px;
    }
    .second{
        width: 162px;
        position: relative;
        bottom: 67px;
        left: 146px;
        margin-bottom: 0px;
    }
    .logos{
        margin-top: 100px;
        gap: 50px;
    }
    footer{
        background-image: url(./assets/desktop/bg-pattern-dots.svg);
        background-repeat: no-repeat;
        background-position: left 30px bottom;
        width: 100%;
        height: 200px;
        background-color: #121725;
    }
    .icons{
        width: 95.9px;
        height: 28.91px;
    }
    .tag{
        bottom: 64px;
        right: 97px;
    }
    
}
@media (min-width:1440px){
    body{
        background-size: 1000px 900px;
        background-position: center right;
    }
    .logo{
        margin-left: 165px;
    }
    .text{
        height: 540px;
    }
    main{
        width: 439px;
    }
    .text{
        margin-left: 210px;
        padding-left: 0px;
    }
    .title{
        margin-top: 80px;
    }
    .buttons{
        top: 580px;
        left: 211px;
    }
    footer{
        background-position: right top;
        position:relative;
    }
}